[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "subprojects/SDL/SDL-repo"]
	path = subprojects/SDL/SDL-repo
	url = https://github.com/libsdl-org/SDL.git
